body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/********** Sidebar - start ***************/
.sidebar-container {
  width: 25%;
  color: #ffffff;
  background-color: #1e2939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

/* sidebar photo*/
.sidebar-photo img {
  margin-top: 40px;
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

/*sidebar contacts */
.sidebar-contacts {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.sidebar-contacts-contact a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.5;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding-left: 0.5rem;
}

/*sidebar skills*/
.sidebar-tech-skills,
.sidebar-soft-skills {
  margin-left: 40px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.sidebar-skills-item {
  color: #ff6b08;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.sidebar-skills-item > span {
  color: #ffffff;
}

/********** Sidebar - end ***************/
/************* Main Content *****************/
.main {
  -webkit-box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.15);
  padding-left: 10%;
  padding-right: 10;
  width: 63%;
  color: #595959;
}

section {
  margin-bottom: 2rem;
}

.main-section-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.main-projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-projects-item:not(:last-child) {
  margin-bottom: 15px;
}

/* About me*/
.main-about {
  padding-right: 30%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8rem;
}

.main-about-job {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.main-about-name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: #000;
  margin: 0;
  padding: 0;
}

.main-about__details-link {
  color: #000;
}

/*Projects */
.main-projects {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 15%;
}

.main-projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-projects-item a,
span {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.width-calc {
  width: calc((100% - 20px) / 3);
}

.main-projects__decoration--bottom-border {
  border-bottom: dotted 2px black;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  margin-right: 10px;
}

/*Experience*/
.company-title,
.company-title span {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0.48px;
}

.company-title span {
  color: #ff6b08;
}

.work-duration {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.company-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

/*Education*/
.education-university {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.education-speciality {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  padding-right: 15%;
}

.education-duration {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.descktop {
  display: none;
}

@media (min-width: 640px) {
  .descktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */